.addRemoveBtn {
    all: unset;
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.addRemoveBtn.add {
    background-color: #008000;
}
.addRemoveBtn.add:hover {
    background-color: #00b300;
}

.addRemoveBtn.remove {
    background-color: #990000;
}
.addRemoveBtn.remove:hover {
    background-color: #cc0000;
}