@inject Blazored.LocalStorage.ILocalStorageService localStorage

<button @onclick="AddOrRemove">
	@(Setting == "add" ? "Add" : "Remove")
</button>

<p>@_status</p>

@code {
	[Parameter] public int MovieId { get; set; }
	[Parameter] public required List<int> Cart { get; set; }
	[Parameter] public required string Setting { get; set; }
	[Parameter] public EventCallback<List<int>> OnCartUpdated { get; set; }

	private string _status = string.Empty;

	private async Task AddOrRemove()
	{
		if (Setting == "add")
		{
			if (Cart.Contains(MovieId))
			{
				UpdateStatus("Movie already in cart!");
				return;
			};

			Cart.Add(MovieId);
			await localStorage.SetItemAsync("cart", Cart);
			UpdateStatus("Movie added to cart!");
		}
		else if (Setting == "remove")
		{
			if (!Cart.Contains(MovieId))
			{
				UpdateStatus("Movie is not in cart!");
				return;
			};

			Cart.Remove(MovieId);
			await localStorage.SetItemAsync("cart", Cart);
			UpdateStatus("Movie removed from cart!");

			await OnCartUpdated.InvokeAsync(Cart);
		};
	}

	private void UpdateStatus(string statusMessage)
	{
		_status = statusMessage;
	}
}
