@inject Blazored.LocalStorage.ILocalStorageService localStorage

<button @onclick="AddOrRemove" @onclick:stopPropagation="true" @onclick:preventDefault="true" class="addRemoveBtn @( _setting ? "add" : "remove" )">
	@(_setting ? "Add to Cart" : "Remove from Cart")
</button>

@code {
	[Parameter] public int MovieId { get; set; }
	[Parameter] public required List<int> Cart { get; set; }
	[Parameter] public EventCallback<List<int>> OnCartUpdated { get; set; }

	private bool _setting = true;

	protected override void OnParametersSet()
	{
		_setting = !Cart.Contains(MovieId);
	}

	private async Task AddOrRemove()
	{
		if (!Cart.Contains(MovieId))
		{
			Cart.Add(MovieId);
			_setting = false;
		}
		else
		{
			Cart.Remove(MovieId);
			_setting = true;
			await OnCartUpdated.InvokeAsync(Cart);
		}

		await localStorage.SetItemAsync("cart", Cart);
	}
}