.archiveContainer {
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    overflow-x: auto;
}

.archiveContainer .vhsContainer {
    /*width: 200px;*/
    padding: .5rem;
    height: 70%;
    background-color: lightblue;
    align-self: end;
    margin-right: 5px;
    flex-shrink: 0;
    border-radius: 5px;
}

.vhsContainer.selected {
    border: 1px solid green;
    transform: scale(1.1);
}

.extraInfo {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    writing-mode: horizontal-tb !important;
}

.archiveContainer .vhsContainer p {
    writing-mode: vertical-rl;
    font-size: 2rem;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}