.cartItem {
    max-width: 500px;
    display: flex;
    flex-direction: row;
}

.cartItem img {
    width: 50%;
}

.cartItem .itemInfo {
    width: 50%;
    padding-left: 1rem;
}

.cartItem .itemInfo .title {
    font-family: Monster, monospace, sans-serif;
    font-size: 1.5rem;
    color: red;
    word-break: break-word;
}

.cartItem .itemInfo .price {
    font-family: fantasy, monospace, sans-serif;
    color: red;
}

.cartItem .itemInfo a {
    display: block;
}