.cartItem {
    max-width: 350px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cartItem img {
    width: 50%;
}

.cartItem .itemInfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 0;
}

.cartItem .itemInfo .title {
    font-family: Monster, monospace, sans-serif;
    font-size: 1.5rem;
    color: red;
    word-break: break-word;
}

.cartItem .itemInfo .actors {
    color: grey;
}

.cartItem .itemInfo .price {
    margin-top: 10px;
    font-family: fantasy, monospace, sans-serif;
    font-size: 1.1rem;
}

.cartItem .itemInfo ::deep .addRemoveBtn {
    margin-top: auto;
}
