@using Models
@using Frontend.Components.Pages.UIComponents

<div class="cartItem">
    <img src="@Movie.ImageUrl" width="200" />

    <div class="itemInfo">
        <p class="title">@Movie.Title</p>
        <a href="/movies/@Movie.Id">Product Page</a>
        <p class="price">$@Movie.Price</p>
        <AddRemove MovieId=Movie.Id Cart=Cart OnCartUpdated="OnCartUpdated" />
    </div>
</div>

@code {
    [Parameter] public required Movie Movie { get; set; }
    [Parameter] public required List<int> Cart { get; set; }
    [Parameter] public EventCallback<List<int>> OnCartUpdated { get; set; }
}
