.formSection form {
    width: 100%;
    max-width: 350px;
}

.formSection form div {
    position: relative;
    margin-bottom: 15px;
}

.formSection form fieldset {
    border: none;
    width: 100%;
    max-width: 350px;
}

.formSection form legend {
    display: none;
}

.formSection form div ::deep input {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(38, 38, 38);
}

.formSection form div ::deep input.modified.valid {
    border-bottom-color: lime;
}

.formSection form div ::deep input.invalid {
    border-bottom-color: red;
}

.formSection form div ::deep input:focus {
    outline: none;
    border-bottom-color: white;
}

.formSection form div ::deep input:-webkit-autofill,
.formSection form div ::deep input:-webkit-autofill:hover,
.formSection form div ::deep input:-webkit-autofill:focus,
.formSection form div ::deep input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.formSection form div ::deep input:-webkit-autofill::first-line {
    color: white !important;
}

.formSection form div ::deep input:focus + label,
.formSection form div ::deep input:not(:placeholder-shown) + label {
    display: none;
}

.formSection form div label {
    position: absolute;
    top: 8px;
    left: 8px;
    color: grey;
}

.formSection form div ::deep .validation-message {
    margin-top: 5px;
    padding-left: 5px;
    color: red;
}

.formSection form button {
    all: unset;
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #008000;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.formSection form button:hover {
    background-color: #00b300;
}
