@using Models
@using Frontend.Components.Pages.UIComponents

<section class="shelfContainer">

    <h2>The VHS Shelf</h2>
    <div class="shadowEffect"></div>

    <div class="scrollableShelf">
        @foreach(var movie in Movies)
        {
            <article class="vhsContainer @(movie == SelectedMovie ? "expanded" : "" )" @onclick="() => ToggleExpanded(movie)">

                <div class="vhsFront">
                    <p>@movie.Title</p>
                    <img src="@vhsFrontImageMap[movie]" alt="VHS Tape" />
                </div>

                <div class="vhsSide">
                    <p class="price">$@movie.Price</p>
                    <a href="/movies/@movie.Id">
                        <img src="@movie.ImageUrl" alt="Movie Cover" />
                    </a>
                    <AddRemove MovieId=movie.Id Cart=Cart />
                </div>

            </article>
        }
    </div>

</section>

@code {
    [Parameter] public required List<Movie> Movies { get; set; }
    [Parameter] public required List<int> Cart { get; set; }

    private readonly Random _random = new();
    private readonly string[] vhsFrontImages =
    {
        "media/images/vhs_1.jpg",
        "media/images/vhs_2.jpg",
        "media/images/vhs_3.jpg"
    };
    private Movie? SelectedMovie = null;
    private Dictionary<Movie, string> vhsFrontImageMap = new();

    protected override void OnParametersSet()
    {
        foreach (var movie in Movies)
        {
            if (!vhsFrontImageMap.ContainsKey(movie))
            {
                vhsFrontImageMap[movie] = vhsFrontImages[_random.Next(vhsFrontImages.Length)];
            }
        }
    }

    private void ToggleExpanded(Movie movie)
    {
        SelectedMovie = (SelectedMovie == movie) ? null : movie;
    }
}
