.shelfContainer {
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: auto;
    overflow-y: hidden;
}

.shelfContainer .vhsContainer {
    position: relative;
    width: 100px;
    height: 70%;
    background-color: red;
    margin: 0 2px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.shelfContainer .vhsContainer .vhsFront {
    width: 100px;
    height: 100%;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shelfContainer .vhsContainer .vhsFront p {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 3rem;
}

.shelfContainer .vhsContainer .vhsFront img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.shelfContainer .vhsContainer .vhsSide {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: Wheat;
    transition: right 0.3s ease-in-out;
    z-index: 1;
}

.shelfContainer .vhsContainer .vhsSide img {
    width: 100%;
    height: 100%;
}

.vhsContainer.expanded {
    width: 400px;
}
.vhsContainer.expanded .vhsSide {
    right: 0;
}