<section class="titleVideoContainer">

    <header>
        <h1>Horror Movies</h1>
    </header>
    
    <div class="titleBackground"></div>

    <video autoplay loop muted>
        <source src="media/videos/video_720_evildead.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</section>

@code {
    
}
