<div>
    <nav>
        <div>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        </div>

        <div>
            <NavLink class="nav-link" href="cart">Cart</NavLink>
        </div>
    </nav>
</div>

