nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav ::deep a .icon {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: black;
}