* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #333 #999;
}

@font-face {
    font-family: 'HorrorFont';
    src: url('media/horror_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}