* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #333 #999;
}

@font-face {
    font-family: 'Danger';
    src: url('media/danger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monster';
    src: url('media/monster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nightcore';
    src: url('media/nightcore.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}