.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;
}

.cartContainer header h1 {
    display: none;
}

.cartContainer .cartItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 720px;
    list-style: none;
}

.cartContainer .totalPrice {
    font-size: 1.5rem;
    margin: 30px 0;
    border-bottom: 1px solid lime;
    font-family: fantasy, monospace, sans-serif;
}
.cartContainer .totalPrice span {
    color: grey;
}

.cartContainer .formSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cartContainer .formSection ::deep form {
    width: 100%;
    max-width: 350px;
}

@media (min-width: 750px) {
    .cartContainer .cartItems {
        justify-content: flex-start;
    }
}