.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;
}

.cartContainer .cartItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 720px;
}

.cartContainer .totalPrice {
    font-size: 1.5rem;
    margin: 30px 0;
    border-bottom: 1px solid lime;
    font-family: fantasy, monospace, sans-serif;
}
.cartContainer .totalPrice span {
    color: grey;
}

.cartContainer ::deep form {
    width: 100%;
    max-width: 350px;
}

.cartContainer ::deep form div {
    position: relative;
    margin-bottom: 15px;
}

.cartContainer ::deep form div input {
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(38, 38, 38);
}

.cartContainer ::deep form div input.modified.valid {
    border-bottom-color: lime;
}

.cartContainer ::deep form div input.invalid {
    border-bottom-color: red;
}

.cartContainer ::deep form div input:focus {
    outline: none;
    border-bottom-color: white;
}

.cartContainer ::deep form div input:-webkit-autofill,
.cartContainer ::deep form div input:-webkit-autofill:hover,
.cartContainer ::deep form div input:-webkit-autofill:focus,
.cartContainer ::deep form div input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.cartContainer ::deep form div input:-webkit-autofill::first-line {
    color: white !important;
}

.cartContainer ::deep form div input:focus + label,
.cartContainer ::deep form div input:not(:placeholder-shown) + label {
    display: none;
}

.cartContainer ::deep form div label {
    position: absolute;
    top: 8px;
    left: 8px;
    color: grey;
}

.cartContainer ::deep form div .validation-message {
    margin-top: 5px;
    padding-left: 5px;
    color: red;
}

.cartContainer ::deep form button {
    all: unset;
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    background-color: #008000;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.cartContainer ::deep form button:hover {
    background-color: #00b300;
}



@media (min-width: 750px) {
    .cartContainer .cartItems {
        justify-content: flex-start;
    }
}