@page "/"
@inject Frontend.Services.BookService BookService
@using Models


<PageTitle>Home</PageTitle>

<h1>Horror Books Shop</h1>

@if (_books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var book in _books)
    {
        <div class="bookContainer">
            <img src="@book.ImageUrl" width="200" />
            <p>@book.Name</p>
            <p>@book.Author</p>
            <p>@book.Price</p>
            <a href="books/@book.Id">Product Page</a>
        </div>
    }
}

@code {
    private List<Book> _books = new();

    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetBooksAsync();
    }
}