@page "/"
@using Models
@using Frontend.Components.Pages.UIComponents
@inject Frontend.Services.MoviesService moviesService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@rendermode InteractiveServer

<PageTitle>Horror Movies</PageTitle>

<div class="titleContainer">
    <h1>Horror Movies</h1>
</div>

<Video />

@if (_movies == null || !_movies.Any())
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var movie in _movies)
    {
        <CartItem Movie=movie Cart=_cart />
    }
}

<Shelf Movies=_movies Cart=_cart />

@code {
    private List<Movie> _movies = new();
    private List<int> _cart = new();

    protected override async Task OnInitializedAsync()
    {
        _movies = await moviesService.GetMoviesAsync() ?? new List<Movie>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _cart = await localStorage.GetItemAsync<List<int>>("cart") ?? new List<int>();
            StateHasChanged();
        };
    }
}