@page "/"
@using Models
@inject Frontend.Services.BookService BookService
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (!isLoaded)
{
    <p>Loading video...</p>
}
else
{
    <video id="myVideo" width="1200" height="600" autoplay loop muted>
        <source src="videos/blood_book.mp4" type="video/mp4">
    </video>
}

<h1>Horror Books Shop</h1>

@if (_books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var book in _books)
    {
        <div class="bookContainer">
            <img src="@book.ImageUrl" width="200" />
            <p>@book.Name</p>
            <p>@book.Author</p>
            <p>@book.Price</p>
            <a href="/books/@book.Id">Product Page</a>
        </div>
    }
}

@code {
    private List<Book> _books = new();
    private bool isLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoaded = true;
            StateHasChanged(); // Forces Blazor to render the <video> element
            await JS.InvokeVoidAsync("playVideo", "myVideo");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _books = await BookService.GetBooksAsync();
    }
}